* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppinsRegular;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #000000;
 }
@font-face {
    font-family: poppinsBold;
    src: url(/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppinsMedium;
    src: url(/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsRegular;
    src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsLight;
    src: url(/fonts/Poppins-Light.ttf);
}


/* header styles starts from here */

.db-header {
    height: 10vh;
    background-color: #292929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

.user-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-div h4 {
    color: #c0c0c0;
    padding-right: 20px;
}

.fa-user {
    color: white;
    background-color: #5BB85D;
    padding: 15px;
    font-size: 16px;
    border-radius: 50%;
}



/* sidebar starts from here */

.main-container {
    display: flex;
}

.db-sidebar {
    height: 100vh;
    width: 17%;
    background-color: #292929;
    /* border-right: 1px solid #dbdbdb; */
    position: fixed;
    /* Change this line */
    top: 0;
    /* Ensure it sticks to the top */
    left: 0;
    /* Ensure it sticks to the left */
    overflow-y: auto;
    /* z-index: 1; */

}
.logo-div {
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(59, 59, 59);
    padding-left: 10px
    ;
    

}
.sidebar-buttons_div{
    display: flex;
    flex-direction: column;
    /* padding-left: 20px; */
    color: white;
}
.sidebar-button {
    padding: 10px 10px 20px 10px;
    cursor: pointer;
}
.pulse-text {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 27px;
    margin-top: 140px;
    padding-top: 20px;
    border-top: 1px solid rgb(59, 59, 59);
}
.sidebar-buttons p {
    margin-top: 40px;
    cursor: pointer;
}


/* main body style starts from here */


/* welcome div starts from here */

.db-mainBody {
    width: 83%;
    /* height: 90vh; */
    margin-left: 17%;
    padding: 10px 15px 15px 15px;

}

.welcome-div h2 {
    font-family: poppinsBold;
    font-size: 18px;
    color: #202020;
}

.welcome-div span {
    font-family: poppinsBold;
    font-size: 18px;
    color: #1BA91E;
}

/* overview_card-div styles starts from here */

.overview_card-div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cards {
    width: 19%;
    height: 90px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.overview_card1 {
    background-color: #ce9803;
}

.overview_card2 {
    background-color: #616060;
}

.overview_card3 {
    background-color: #377fcc;
}

.overview_card4 {
    background-color: #db2ab5;
}

.overview_card5 {
    background-color: hsl(3, 83%, 55%);
}

.cards-text {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cards-text h3,
.cards-text h4 {
    font-family: poppinsRegular;
    font-size: 14px;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    letter-spacing: 1px;
}

/* .icon-div { */

    /* display: flex;
    justify-content: center;
    align-items: center; */

/* } */

.fa-globe {
    background-color: #ffffff;
    padding: 7px;
    border-radius: 3px;

}


/* percentageBar-div styles starts from here  */

.percentageBar-div {
    height: 120px;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    margin-top: 15px;
    padding: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(167, 167, 167, 0.068), 0 6px 20px 0 rgba(51, 51, 51, 0.137); */

}

.percentageBar-div h3 {
    font-family: poppinsBold;
    font-size: 16px;
}

.percentageBar-line_div {
    display: flex;
    justify-content: space-between;

}

.percentageBar_bg {
    margin-top: 10px;
    background-color: #d2fcd1;
    height: 17px;
    width: 95%;
    border-radius: 10px;
}

.percentageBar_color {
    background-color: #21da1e;
    height: 17px;
    width: 6.9%;
    border-radius: 10px;
}

.completed-para {
    color: #1BA91E;
    font-family: poppinsBold;
    font-size: 16px;
    margin-top: 10px;
}

.percentage-text {
    color: #1BA91E;
    font-family: poppinsBold;
    font-size: 16px;
    margin-top: 5px;

}


.charts-div {
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    gap: 15px;
    margin-top: 15px;

}

/* stackChart-div style starts from here */

.barChart1-div {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    padding: 15px;
    padding-bottom: 50px;
    height: 450px;
    background-color: #f4fff5dc;
}

.barChart2-div {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    padding: 15px;
    height: auto;
    /* Adjusted height */
    background-color: #fffafacc;
}

.chartCanvas {
    width: 100% !important;
    height: 100% !important;

}

.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
}

.tablinks {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablinks.active {
    background-color: #53bb55;
    color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent.active {
    display: block;
}

.barChart1-div h3,
.barChart2-div h3 {
    font-family: poppinsBold;
    font-size: 16px;
}